.rect-btn {
    background: linear-gradient(90deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
}

.main-header {
    background: rgba(255, 255, 255, 0.95);
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #d3d2d2;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 100%;
}

.header-link {
  text-decoration: none;
  font-family: Stapel;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #231F20;
  padding-left: 24px;
}

.logo-img {
    width: 130px;
    height: 50px;
    margin-right: auto;
    padding-left: 40px;
}

.hexagon1 {
    position: absolute;
    height: 432px;
    width: 432px;
    left: 220px;
    top: -120px;
}

.hexagon2 { 
    position: absolute;
    height: 432px;
    width: 500px;
    left: 724px;
    top: -36px;
}

.marathon {
    height: 100%;
    width: 360px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d3d2d2;
    justify-content: top;
    align-items: center;
}

.main-txt {
    width: 280px;
    height: 88px;
    font-family: Stapel;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    padding-top: 70px;
    letter-spacing: 0.02em;
    color: #231F20;
}

.sub-txt {
    width: 280px;
    height: 120px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #f2e9cf;
    border-left: 1px solid #f2e9cf;
    font-family: Stapel;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #231F20;
    background: radial-gradient(100% 100% at 0% 100%, #FFF4C2 0%, rgba(255, 231, 167, 0.2) 60%, rgba(255, 255, 255, 0) 100%);
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 190, 91, 0.4) 0%, rgba(255, 210, 0, 0.4) 50%, rgba(255, 221, 0, 0) 100%);
}

.news-header {
    height: 28px;
    width: 256px;
    /* Narrow Bold, 24, 28, 0.02 */
    font-family: Stapel;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    /* identical to box height, or 117% */
    letter-spacing: 0.02em;

    /* Dark / 100% */
    color: #231F20;
}


.new-header {
    height: 48px;
    left: 0px;
    right: 0px;
    top: 0px;

    /* Narrow Bold, 20, 24, 0.02 */
    font-family: Stapel;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    /* or 120% */
    letter-spacing: 0.02em;

    /* Dark / 100% */
    color: #231F20;
}

.new-content {
    width: 256px;
    height: 144px;
    left: 0px;
    top: 64px;

    /* Narrow, 20, 24, 0.02 */
    font-family: Stapel;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    /* or 120% */
    letter-spacing: 0.02em;

    /* Dark / 100% */
    color: #231F20;
}

.read-further {
    text-decoration: none;
    font-family: Stapel;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    /* identical to box height, or 120% */
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    /* Dark / 50% */
    color: rgba(35, 31, 32, 0.5);
}
